@import "../../styles/breakpoints.scss";
.layoutContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(15 19 22);
}

@include sm {
    .layoutContainer {
        max-width: 100%;
    }
}

@include md {
    .layoutContainer {
        max-width: 720px;
    }
}

@include lg {
    .layoutContainer {
        max-width: 960px;
    }
}

@include xlg {
    .layoutContainer {
        max-width: 1140px;
        
    }
}

@include xxl {
    .layoutContainer {
        max-width: 1320px;
    }
}
