 @import "../../styles/breakpoints.scss";


.mainHeader{
  top: 0px;
  background-color: #fff;
  z-index: 1000;
  border: 2px solid black;
  .brand{
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    img{
      max-width: 100%;
      height: auto;
      gap: 12px;
      align-items: center;
      width: 40px;
      border-radius: 50%;
    }
    .title{
      color: #000;
      margin: 0px;
    }
  }
      .container {
        padding: 12px 6px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background: #fff;
    }

        .mainNav .mainnavList {
        margin: 0px;
        text-align: center;
    }
        .mainNav .mainnavList li {
        color: #000;
        display: inline-block;
        padding: 0 16px;
        cursor: pointer;
        
    }
        .mainNav .mainnavList li:hover {
        text-decoration: underline;
    }


    @media (min-width: 960px) {
        .mainHeader .container {
            justify-content: space-between;
        }
    }
  }
.menuToggle {
  display: none; 
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}


.mobileMenuOpen {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1000;
  }


  li {
    padding: 10px 0;
    font-size: 25px;
  
  }

}


@media screen and (max-width: 768px) {
  .menuToggle {
    display: block; 
  }

  .mainnavList {
    display: none; 
  }
}
