@use "../../styles/variables.scss" as variables;
@use '../../styles/breakpoints.scss' as bp;

.footer {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: white;
    padding: 24px;
    align-items: center;

    .container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        .footerItem {
            flex-grow: 1;
            width: 33%;
            display: flex;
            flex-direction: column;

            .wrapper {
                width: fit-content;
            }
        }
        .about {
            .title {
                font-size: 1.2rem;
            }
        }

        .contact {
            .wrapper {
                margin-left: auto;
            }
            .icon_wrapper a {
                color: inherit;
                text-decoration: none;
            }
            .icon_wrapper {
                display: flex;
                gap: 8px;

                .social_icon {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 50%;
                    // background-color: #33353d;
                    transition: all .2s linear;
                    text-align: center;
                    cursor: pointer;
                    border: 2px solid black;
                }
                .facebook:hover {
                    background-color: #29aafe;
                }
                .instagram:hover {
                    background: radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%);
                }
                .whatsapp:hover {
                    background-color: #2ecb71;   
                }
            }
        }
    }

 

}